<%- include("head.ejs") %>
<body>
    <%- include('navbar.ejs') %>
    <div class="container">
        <h1>Home Tab is Active</h1>
        <p>Your Name is <%= name  %></p>
        <p>Your Email is <%= email  %></p>
        <p>Your Password is <%= password  %></p>
    </div>
</body>
</html>